<div class="page__footer-follow">
    <ul class="social-icons">
        {%- for link in site.footer.links -%}
        <li>
            <a href="{{ link.url }}" rel="noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-fw fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a>
        </li>
        {%- endfor -%}
    </ul>
    <p class="footer-updated">
        Last updated: <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%d-%m-%Y" }}</time>
    </p>
</div>
