<div class="masthead">
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <nav id="site-nav" class="greedy-nav" aria-label="Primary navigation">
                <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
                <ul class="visible-links">
                    {%- for link in site.data.navigation.main -%}
                    <li class="masthead__menu-item">
                        <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>
        </div>
        <button type="button" class="theme-toggle" aria-label="Toggle dark / light theme">
            <i class="fas fa-fw fa-adjust" aria-hidden="true"></i>
        </button>
    </div>
</div>
